<h1>Edit picture </h1>

<p>
	<%= link_to "back", @picture  %>
</p>

<%= form_for @picture do |f| %>

	<p>
		<%= f.label "artist" %><br>
		<%= f.text_field "artist" %>
	</p>

	<p>
		<%= f.label "title" %></br>
		<%= f.text_field "title" %>
	</p>

	<p>
		<%= f.label "url" %>
		<%= f.text_field "url" %>
	</p>

	<p>
		<%= submit_tag "Save" %>
	</p>

	<% end %>

