<h1> shows individual image</h1>
<p>
	<%= link_to "back to pictures", pictures_url %>
</p>
<p>
	<%= link_to "edit", edit_picture_path(@picture) %>
</p>

<p>
	<%= link_to "Delete", @picture, :confirm => "Sure about deleting?", :method => :delete %>
</p>


<p>
	<%= @picture[:title] %>, <%= @picture[:artist] %>
</p> <!-- shows picture that was the result of the controller -->

	<img src = "<%= @picture[:url] %>" >